                        <!-- CATEGORY TITLE -->
                        <h3 class="page-header nomargin-top">
                            <strong class="styleColor">Politics</strong> News
                        </h3>

                        <!-- BREAKING NEWS -->
                        <div class="label label-primary breaknews-ticker">
                            <strong>НОВІ ПЕТИЦІЇ:</strong> 

                            <div class="owl-carousel controlls-over nomargin" data-plugin-options='{"autoPlay":4000, "stopOnHover":true, "items": 1, "singleItem": true, "navigation": false, "pagination": false, "transitionStyle":"fadeUp"}'>
                                <div>
                                    <a href="magazine-single.html">1/3 Potential for the contamination of forensic DNA evidence has been highlighted by the Meredith Kercher murder trial.</a>
                                </div>
                                <div>
                                    <a href="magazine-single.html">2/3 Australia thrash England to win T20 series in Melbourne</a>
                                </div>
                                <div>
                                    <a href="magazine-single.html">3/3 China's bulldozer mayor kicked out of party, handed to prosecutors</a>
                                </div>
                            </div>

                        </div><br />
                        <!-- /BREAKING NEWS -->

                        <!-- FEATURED -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- carousel -->
                                <div class="owl-carousel controlls-over nomargin" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "itemsScaleUp":true}'>
                                    <div>
                                        <img alt="" class="img-responsive" src="{{ asset('/atropos/assets/images/demo/magazine/article/8.jpg') }}" />
                                    </div>
                                    <div>
                                        <img alt="" class="img-responsive" src="{{ asset('/atropos/assets/images/demo/magazine/article/7.jpg') }}" />
                                    </div>
                                </div>
                                <!-- /carousel -->

                            </div>
                            <div class="col-md-6">
                                <h2><a class="styleColor" href="magazine-single.html">Boulder smashes through Italian farm</a></h2>
                                <p>Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.</p>
                                <a href="magazine-single.html" class="btn btn-default">CONTINUE READING</a>
                            </div>
                        </div>
                        <!-- /FEATURED -->

                        <hr class="half-margins" /><!-- separator -->